<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <style>
    body {
      margin: auto;
      max-width: 60vh;
    }
  </style>
  <body>
    <h1>Your page (<%= instance.id %>)</h1>
    <p>Hello there ! 😀</p>
    <p>This is your personnal webpage, you can manage your adventure here.</p>
    <form>
        <div>
            <label>Secret code :</label>
            <input type="text" placeholder="Your secret code"></input>
        </div>
        <div>
            <label>Scenario :</label>
            <input type="file"></input>
        </div>
        <button type="submit">Upload</button>
    </form>
  </body>
</html>
